<h1 class = "is-size-2 has-text-centered">Here is your saved list</h1>
<section class = "section">
<div *ngIf="favouritelist.length>0" class="select is-multiple">
    <div *ngFor="let favorite of favouritelist;let i = index" (click) = "goFood(favorite.uuid,this.username)">
      {{favorite.stallName}}  <button type = "button" (click) = delete(favorite)>x</button>
    </div>
</div>
</section>

<div *ngIf ="favouritelist.length <=0">
  <span>You have no favourite list please go search and add</span>
</div>


<button type = "button" (click)="goSearch()" class = "button">Click To Search For Other Food</button>
